.modal {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_card {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.modal_card button {
  position: absolute;
  top: -10px;
  right: -10px;
  border: rgba(0, 0, 0, 0.5);
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
