body {
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 90%;
    height: 500px;
    background-color: rgb(39, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 50px;
    border: 2px solid rgb(61, 109, 109);
    background-color: rgb(82, 141, 141);
    margin-right: 15px;
    border-radius: 5px;
}

.button-active {
    background-color: rgb(58, 99, 99);
}