body {
    font-family: sans-serif;
    width: 455px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: serif;
}

h1, h2, i {
    color: blue;
}

b {
    color: red;
}

p {
    text-indent: 75px;
    text-align: justify;
    line-height: 30px;
}